.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.button {
    color: black;
    border-radius: 16px;
    width: 246px;
    height: 48px;
    margin: 1rem;
}