.commentBox {
  display: flex;
  height: auto;
  width: 20rem;
  margin-bottom: 20px;
}

.comment {
  background-color: var(--button-color);
  border-radius: 15px;
  width: 20rem;
  height: auto;
  display: flex;
}

.arrow {
  margin-top: 20px;
  width: 2rem;
  height: 2rem;
  margin-bottom: 15px;
}
.profile {
  width: 2rem;
  height: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  margin-right: 20px;
  margin-left: 20px;
}
.profilePhoto {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.commentMenu {
  display: flex;
  /*justify-content: space-between;*/
}

.delete {
  width: 12px;
  height: 12px;
  /*margin-left: 12px;*/
}
.edit {
  width: 12px;
  height: 12px;
 /* margin-bottom: 12px;*/
}
.report {
  width: 10px;
  height: 12px;
}

.username {
  flex-grow: 1;
  font-size: 10px;
  font-style: normal;
  font-weight: normal;
  margin-bottom: 6px;
}
.commentText {
  width: 100%;
  font-weight: 100;
  margin-top: 15px;
  margin-right: 25px;
  margin-bottom: 15px;
}
