.mainBox {
  width: 300px;
  /* height: 600px; */
  border: 2px solid var(--button-color);
  margin-top: 5rem;
  margin-bottom: 5rem;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* overflow: scroll; */
}

.title {
  font-size: var(--font-large);
  color: #6eac82;
  margin-top: 65px;
}

.img {
  width: 50px;
  margin: 2.5rem 0;
}

.name {
  margin: 50px 0;
  font-size: 18px;
}

.description {
  font-size: var(--font-medium);
  width: 13rem;
  font-weight: 100;
  line-height: 1.3rem;
  margin-bottom: 50px;
}

.retry {
  padding: 0;
  background-color: var(--button-color);
  width: 13rem;
  height: 2rem;
  border: none;
  border-radius: 15px;
  color: black;
  margin-bottom: 50px;
}

.detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.degree {
  display: flex;
  font-size: var(--font-small);
  margin-bottom: 10px;
}

.taste {
  height: 20px;
  background-color: #FDC74B;
  color: white;
  font-size: 11px;
  border-radius: 10px;
  padding: 0 12px;
  margin-top: 5px;
  margin-right: 10px;
}

.text {
  color: darkgray;
  margin-right: 10px;
}

