.searchContainer {
  margin: 30px 0;
  display: flex;
  justify-content: center;
  padding-top: 4rem;
}

.input {
  padding: 0;
  width: 280px;
  height: 33px;
  border: none;
  background-color: #e8e8e8;
  margin-right: 0.5rem;
}

.search {
  padding: 0;
  width: 33px;
  height: 33px;
  border-radius: 5px;
}

.img {
  width: 0.9rem;
}
