.mainBox {
  display: flex;
  flex-direction: column;
  padding-top: 4rem;
  width: 20rem;
  border: 2px solid var(--background-color);
  z-index: -1;
  padding-bottom: 5rem;
  align-items: center;
}
.sub {
  display: flex;
  flex-direction: column;
  padding-top: 4rem;
  width: 20rem;
  height:20rem;
  border: 2px solid var(--background-color);
  z-index: -1;
  padding-bottom: 5rem;
  text-align: center;
  font-size: large;
}
.text{
font-size: 30px;
margin-bottom: 2rem;

}

.loading{
display: flex;
justify-content: center;

}
.button {
  width: 7rem;
margin-bottom: 2.5rem;
  background-color: #9ad8ae;
  color: white;
  border-radius: 10px;
  padding: 5px 25px;
}
