.container {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 10px;
  justify-content: space-between;
}

.box {
  width: 70px;
  height: 35px;
  border: 2px solid #fdc74b;
  border-radius: 5px;
  margin-bottom: 20px;
  color: #fdc74b;
  background-color: transparent;
  font-weight: 700;
}

.box:nth-child(4) {
  font-size: 11px;
}

.searchContainer {
  margin: 20px 0;
  display: flex;
  justify-content: center;
  padding-top: 2.5rem;
  z-index: 3;
}

.input {
  padding: 0;
  width: 280px;
  height: 33px;
  border: none;
  background-color: #e8e8e8;
  margin-right: 0.5rem;
}

.search {
  padding: 0;
  width: 33px;
  height: 33px;
  border-radius: 5px;
}

img {
  width: 0.9rem;
}
