.container {
  display: flex;
  justify-content: space-between;
  margin: 40px 30px;
}

.goReview {
  text-align: center;
  font-size: 13px;
  color: darkgray;
}

.title {
  margin-bottom: 5px;
}

.goRate {
  display: flex;
  justify-content: center;
}

.button {
  border-radius: 10px;
  width: 10rem;
  height: 30px;
  font-weight: 700;
}

.like {
  display: flex;
  justify-content: center;
}

.heart {
  padding: 0;
  background-color: transparent;
}

.heartReg {
  width: 20px;
}
.link {
}
